@media (min-width: 1500px) {
    .container,
    .containerEighteen {
        max-width: 1500px;
        width: 65%;
    }
    .menu-links {
        display: flex;
        justify-content: flex-end;
    }
    .menu-links>a {
        margin: 0 2%;
    }
}

.home-products .block-1 {
    right: 70px;
    top: 30px;
}

.home-products .block-2 {
    top: 200px;
}

.home-products .block-produto {
    font-size: 18px;
}

.home-products .block-3 {
    right: 100px;
    top: 370px;
}

.menumobile {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 1rem 0.5rem;
    background: rgba(0, 0, 0, 0.76) 0% 0% no-repeat padding-box;
    transition: 0.3s;
}

.menusolid {
    background: #b2b2b2;
    top: 0 !important;
}

.menumobile_logo img {
    width: 30%;
    max-width: 100px;
}

.menumobile_toogle {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.menumobile_toogle>i {
    font-size: 2.5rem;
}

.pushmenu {
    padding-top: 2rem;
    background: #000;
    font-family: Montserrat;
    width: 240px;
    color: #f9f004;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
}

.pushmenu a {
    display: block;
    /* drops the nav vertically*/
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    padding: 14px;
}

.pushmenu a:hover {
    background: #00a287;
    color: white;
}

.pushmenu a:active {
    background: #454f5c;
    color: #fff;
}

.pushmenu-right {
    right: -240px;
}

.pushmenu-right.pushmenu-open {
    right: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    right: 0;
}

.pushmenu-push-toleft,
.pushmenu-push-toleft .menumobile {
    right: 240px;
}


/*Transition*/

.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .containerEighteen {
        width: 90% !important;
        margin: 0 auto !important;
    }
    .columnOnMobile {
        flex-flow: column;
    }
    .invertOnMobile {
        flex-flow: column-reverse;
    }
    .home-slider .slick-slide img {
        display: block;
        min-height: 100vh;
        object-fit: cover;
    }
    .home-slider .slick-slide {
        position: relative;
    }
    .home-slider .slick-slide::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.32);
        z-index: 9999;
    }
    .home-slider-text-one {
        font-size: 18px;
        max-width: 280px;
        line-height: 24px;
        margin-top: 100px;
    }
    .home-intro::before,
    .home-intro::after {
        display: none;
    }
    .home-intro h1 {
        font-size: 27px;
        line-height: 33px;
        margin: 50px 0;
    }
    .home-intro p {
        font-size: 16px;
        line-height: 26px;
    }
    .home-intro-logo {
        margin-top: 1rem;
    }
    .home-products::before,
    .home-products::after,
    .bgBolinhas {
        display: none;
    }
    .home-products .container {
        width: 100% !important;
    }
    .home-products {
        background-image: none;
        background-color: #f8f8f8;
        min-height: auto;
        padding-top: 0;
    }
    .home-products .block-produto {
        position: static;
        padding: 50px 5px 60px;
        margin: auto;
        width: 100%;
        max-width: none;
        text-align: center;
    }
    .home-products .block-1 {
        background-color: #ffd8df;
    }
    .home-products a.cta.color-pink {
        background-color: #e36c7f;
        border-color: #c4253f;
    }
    .home-products .block-2 {
        background-color: #b7fbff;
    }
    .home-products a.cta.color-blue {
        background-color: #1ec0ca;
        border-color: #116c71;
    }
    .home-products .block-3 {
        background-color: #fff26f;
    }
    .home-products a.cta.color-black {
        background-color: #000;
        border-color: black;
        color: #fff;
    }
    .home-products .block-produto .wrapper-produto-img {
        margin: auto;
    }
    .home-products .block-produto .wrapper-produto-img img {
        width: 100%;
    }
    .home-move-pontinhos::before {
        display: none;
    }
    .home-move h2 {
        font-size: 17px;
        line-height: 26px;
    }
    .home-move p {
        font-size: 16px;
        line-height: 26px;
    }
    .footer-links-fix {
        min-height: 130px !important;
    }
    .footer-redes {
        padding: 0 20%;
    }
    /* PAGE ABOUT */
    .page-about-background img {
        border-top: 110px solid #000;
        object-fit: contain;
        width: 150%;
        max-width: none;
        object-position: -100px;
    }
    .about-intro .containerEighteen {
        padding-top: 330px;
    }
    .about-intro span.small.apoio {
        display: none;
    }
    .about-intro h1 {
        line-height: 36px;
        font-size: 22px;
    }
    .about-core-text {
        text-align: center !important;
        line-height: 26px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 1.5rem;
    }
    .about-core .sobre-block-1 img,
    .about-core .sobre-block-2 img,
    .about-core .sobre-block-3 img,
    .about-core .sobre-block-4 img,
    .about-core .sobre-block-5 img {
        margin: 0 auto;
        max-width: 220px;
    }
    .about-core .sobre-block-1 .about-core-text {
        color: #000;
    }
    .about-core .sobre-block-2,
    .about-core .sobre-block-3,
    .about-core .sobre-block-4 {
        margin-top: 50px;
    }
    .about-core .sobre-block-5 .about-core-text {
        margin-left: auto;
        text-align: right;
        max-width: 90% !important;
    }
    /* PAGE SPEAKERS */
    .page-speakers-banner img,
    .page-representantes-banner img {
        min-height: 100vh;
        object-fit: cover;
    }
    .speakers-intro h1,
    .representantes-intro h1 {
        font-size: 27px;
        line-height: 33px;
        margin: 50px 0;
    }
    .perfectha-pages .menumobile_logo img {
        width: 30%;
        max-width: 150px;
        margin-top: 5px;
    }
    .home-products .title::before,
    .home-products .title::after,
    .search::after {
        display: none
    }
    .tratamento>img,
    .search img {
        width: 100%
    }
    .tratamento .full_absolute,
    .search .full_absolute {
        position: relative
    }
    .search {
        padding-bottom: 2rem;
    }
    .before-after>div {
        margin: 1rem 0
    }
}