/* 
    PEDRO HENRIQUE V CORDISTA
    CREATIVECODE | DEVSPACE
    //
    
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap");
* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    max-width: 100vw !important;
    font-family: "Montserrat";
    font-weight: 300;
}

:root {
    --blue: #80c1e8;
}

img {
    display: block
}


/********************* HELPERS *********************/


/********************* MENU *********************/

.menu {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.3) 0% 0% no-repeat padding-box;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 10;
    transition: 0.3s;
}

.menu-row {
    justify-content: space-between;
}

.menu-row img {
    max-width: 150px;
}

.menu-links>a {
    text-align: left;
    font-size: 12px;
    padding: 30px 0px;
    font-weight: 500;
    margin: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
}

.menu-links>a:hover {
    text-decoration: underline;
}

.menu-redes {
    margin-bottom: -1rem;
    margin-top: 1rem;
}

.menu-redes i {
    margin-right: 7px;
    border: 1px solid #80c1e8;
    padding: 4px;
    border-radius: 50%;
    transition: 0.3s;
}

.menu-redes i:hover {
    border: 1px solid white;
}


/********************* HOME-SLIDER *********************/

.home-slider-text-one {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    max-width: 420px;
    line-height: 54px;
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.home-slider-typewriter {
    height: 37px;
}


/********************* HOME-INTRO *********************/

.home-intro {
    position: relative;
    overflow: hidden;
    padding: 1rem 0 6rem;
}

.home-intro::before {
    position: absolute;
    content: "";
    width: 1223px;
    height: 1071px;
    left: -600px;
    top: -520px;
    background-image: url("../img/intro-before.png");
}

.home-intro::after {
    position: absolute;
    background-image: url("../img/intro-after.png");
    content: "";
    width: 550px;
    height: 372px;
    left: auto;
    top: 100px;
    right: -460px;
}

.home-intro h1 {
    text-align: left;
    font-weight: 300;
    font-size: 38px;
    letter-spacing: 0;
    color: #909090;
    text-transform: uppercase;
    margin: 60px 0;
}

.home-intro-logo img {
    width: 60%;
    margin: 0 auto;
}


/********************* PRODUCTS *********************/

.home-products {
    position: relative;
    background-image: url("../img/produto-img.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 750px;
}

.home-products::before {
    background-image: url("../img/produto-before.png");
    width: 330px;
    height: 817px;
    position: absolute;
    content: "";
    top: -40px;
    left: -180px;
}

.home-products::after {
    background-image: url("../img/produto-after.png");
    width: 460px;
    height: 17%;
    bottom: -80px;
    right: 0;
    top: auto;
    left: auto;
    position: absolute;
    content: "";
}

.home-products .bgBolinhas {
    position: absolute;
    width: 250px;
    height: 472px;
    content: "";
    top: -40px;
    right: 0;
    background-image: url("../img/produto-after-bolinha.png");
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.home-products .block-produto {
    color: #777777;
    max-width: 245px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 300;
    position: absolute;
    font-size: 20px;
}

.home-products .wrapper-produto-img {
    width: 180px;
}

.home-products .block-produto span {
    display: inline-block;
    margin-top: 20px;
}

.home-products .color-pink {
    color: #e36c7f;
}

.home-products .color-blue {
    color: #1ec0ca;
}

.produtos .color-black {
    color: #000;
    margin-right: 5px;
}

.home-products .block-produto p {
    margin-bottom: 50px;
}

.home-products a.cta {
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0;
    text-transform: uppercase;
    background-color: transparent;
    padding: 11px 45px;
    transition: 0.3s;
}

.home-products a.cta.color-black:hover {
    background-color: black;
    color: white;
}

.home-products a.cta.color-blue:hover {
    background-color: #1ec0ca;
    border-color: #1ec0ca;
    color: white;
}

.home-products a.cta.color-pink:hover {
    background-color: #e36c7f;
    border-color: #e36c7f;
    color: white;
}

.home-move {
    padding: 2rem 0;
    position: relative;
}

.home-move h2 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
}

.home-move p {
    color: #909090;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    display: inline;
    text-align: center;
    line-height: 21px;
}

.home-move-pontinhos::before {
    width: 1237px;
    height: 24px;
    background-image: url("../img/move.png");
    left: -790px;
    top: 50px;
    position: absolute;
    content: "";
}

footer {
    background-color: #002891;
    color: #fff;
    padding: 100px 0 60px;
    font-size: 10px;
    text-align: left;
}

footer .li-title {
    margin-bottom: 10px;
    display: inline-block;
}

.footer-newsletter {
    text-align: center;
    color: #7fc4fd;
    font-size: 14px;
    margin-bottom: 35px;
    display: block;
}

.footer-redes {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
}

.footer-redes i {
    font-size: 1.5rem;
    margin: 0 10px;
    padding: 5px;
    margin-right: 7px;
    border: 1px solid #80c1e8;
    padding: 4px;
    border-radius: 50%;
    transition: 0.3s;
}

.footer-redes i:hover {
    border: 1px solid white;
}

footer .creare {
    border-top: 1px solid;
    margin: auto;
    color: #fff;
    text-align: center;
    display: block;
    max-width: 250px;
    padding-top: 20px;
}

footer .creare p {
    color: inherit;
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
}

footer .creare img {
    max-width: 180px;
}


/********************* PAGINA SOBRE *********************/


/********************* BG *********************/

.page-about-background {
    border-top: 40px solid #000;
}

.page-about-background img {
    z-index: -6;
    position: absolute;
    width: 120%;
    margin-left: -10%;
}


/********************* INTRO  *********************/

.about-intro .containerEighteen {
    padding-top: 440px;
    position: relative;
}

.about-intro span.small.apoio {
    position: absolute;
    left: -60px;
    text-transform: uppercase;
    color: #909090;
    top: -40px;
    color: #fff;
    font-size: 14px;
}

.about-intro .wrapper-apoio {
    position: relative;
}

.about-intro h1 {
    line-height: 56px;
    line-height: 56px;
    margin: 110px 0 40px;
    max-width: 770px;
    font-size: 38px;
    text-align: left;
    font-weight: 300;
}

.about-core-bg {
    position: absolute;
    z-index: -1;
}

.about-core {
    margin: 100px 0;
}

.about-core .sobre-block-1 img {
    max-width: 220px;
    margin-right: 3.5rem;
}

.about-core .sobre-block-1 .about-core-text {
    color: #ffffff;
}

.about-core-text {
    max-width: 364px;
    color: #fff;
    line-height: 30px;
    font-weight: 400;
}

.about-core .sobre-block-2 {
    margin-top: 180px;
}

.about-core .sobre-block-2 img {
    max-width: 300px;
    margin-right: 3.5rem;
}

.about-core .sobre-block-2 .about-core-text {
    max-width: 324px;
    color: #000;
    line-height: 30px;
    font-weight: 400;
}

.about-core .sobre-block-3 .about-core-text {
    max-width: 284px;
    color: #000;
    text-align: right;
}

.about-core .sobre-block-3 img {
    max-width: 330px;
    margin-left: 3.5rem;
}

.about-core .sobre-block-4 {
    margin-top: 300px;
}

.about-core .sobre-block-4 img {
    max-width: 400px;
    margin-right: 100px;
}

.about-core .sobre-block-4 .about-core-text {
    max-width: 390px;
    color: #000;
    text-align: left;
    margin-right: 100px;
}

.about-core .sobre-block-5 {
    margin-top: 50px;
}

.about-core .sobre-block-5 img {
    max-width: 450px;
    margin-left: 50px;
}

.about-core .sobre-block-5 .about-core-text {
    margin-left: auto;
    text-align: right;
    max-width: 42vw;
}


/********************* PAGINA SPEAKERS *********************/

.speakers-intro h1 {
    text-align: left;
    font-weight: 300;
    font-size: 38px;
    letter-spacing: 0;
    color: #909090;
    text-transform: uppercase;
    margin: 60px 0;
}

.speakers-intro p {
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    color: #909090;
    text-align: left;
}

.speakers h3 {
    font-weight: 700;
    color: #909090;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 50px;
}

.speakers-item {
    padding: 0 1.5rem !important;
    opacity: 0.7;
    cursor: pointer;
    transition: .3s;
    margin: 2rem 0;
}

.speakers-item>div {
    border-bottom: 10px solid #2699fb;
}

.speakers-item:hover {
    opacity: 1;
}

.speakers-item img {
    width: 100%;
}

.speakers-item .speakers-plus {
    position: absolute;
    background-color: #2699fb;
    border-radius: 100em;
    top: 0;
    right: 0;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 31px;
    transition: all 0.2s ease;
}

.speakers-item h3 {
    color: #909090;
    font-weight: 600;
    vertical-align: top;
    padding-top: 15px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.speakers-item h4 {
    font-size: 12px;
    color: #909090;
    text-align: center;
    font-weight: 400;
    margin: 10px 0 10px 0;
}

.modal {
    word-break: break-word;
    color: #909090;
    text-align: left;
    border-radius: 5px;
}

.modal .modal-content {
    position: relative;
    padding: 3rem;
}

.modal h4 {
    color: #777;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
}

.modal h5 {
    font-size: 14px;
    margin: 5px 0
}

.modal-redes a {
    margin-right: 10px;
}

.modal .modal-close {
    font-size: 32px;
    position: absolute;
    top: 0;
    right: 15px;
    font-weight: 700;
}

.speakers-prof img {
    max-width: 600px;
    margin: auto;
    width: 60%;
    margin-top: 90px;
    display: block;
}


/********************* PAGINA REPRESENTANTES *********************/

.representantes {
    margin-bottom: 5rem;
}

.representantes-intro h1 {
    text-align: left;
    font-weight: 300;
    font-size: 38px;
    letter-spacing: 0;
    color: #909090;
    text-transform: uppercase;
    margin: 60px 0;
}

.representantes-intro h2 {
    color: #909090;
    font-size: 24px;
    line-height: 29px;
    margin: -20px 0 50px;
}

.representantes-intro p {
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    color: #909090;
    text-align: left;
}

.representantes h3 {
    font-weight: 700;
    color: #909090;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 50px;
}

.representantes select {
    border: 1.3px solid #95989a;
    color: #95989a;
    font-size: 14px;
    text-align: left;
    padding: 12px 18px;
    width: 100%;
    max-width: 500px;
    position: relative;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 auto;
}

.representantes-item {
    padding: 0 1.5rem !important;
    opacity: 0.7;
    cursor: pointer;
    transition: .3s;
    margin: 2rem 0;
}

.representantes-item>div {
    border-bottom: 10px solid #2699fb;
    transition: .3s;
}

.rep-item-open>div {
    border-bottom: 10px solid #777 !important;
}

.representantes-item:hover {
    opacity: 1;
}

.representantes-item img {
    width: 100%;
}

.representantes-item .representantes-plus {
    position: absolute;
    background-color: #2699fb;
    border-radius: 100em;
    top: 0;
    right: 0;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 31px;
    transition: all 0.2s ease;
}

.plus-open {
    background-color: transparent !important;
    color: #777 !important
}

.representantes-item h3 {
    color: #909090;
    font-weight: 600;
    vertical-align: top;
    padding-top: 15px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.representantes-item h4 {
    font-size: 12px;
    color: #909090;
    text-align: center;
    font-weight: 400;
    margin: 10px 0 10px 0;
}

.representantes-details {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 1rem;
}

.top-menu {
    height: 50px;
    padding: 5px 0;
}

.top-menu img {
    height: 40px;
}

.faq {
    padding-bottom: 3rem;
}

.faq-filter {
    background: #1EC0CA 0% 0% no-repeat padding-box;
    padding: 1rem !important;
    min-height: 300px !important
}

.faq-filter .title {
    text-align: left;
    letter-spacing: 0;
    color: white;
    text-transform: uppercase;
}

.faq-filter .filter {
    font-weight: 700;
}

.collapsible {
    margin: 0
}

.collapsible-header {
    color: #707070;
    display: flex;
    align-items: center;
    padding: 10px 1rem;
}

.collapsible-header span {
    font-size: 20px;
    margin-right: 1.5rem;
}

.contacts {
    background: #F0EFEF 0% 0% no-repeat padding-box;
    padding: 3rem 0;
    color: #777777;
}

.contacts a {
    text-decoration: underline;
    font-weight: 700;
}

footer {
    background: #1EC0CA 0% 0% no-repeat padding-box;
}

.footer-links a {
    font-weight: bold;
}

.footer-links div {
    margin: 6px 0;
}

.footer-follow {
    font-size: 12px;
    font-weight: 500;
}

.footer-follow i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.footer-inputs input {
    border: 1px solid #FFF !important;
    margin-bottom: 0px !important;
    color: white;
    padding-left: 10px !important;
    width: calc(100% - 10px) !important;
    height: 35px !important;
    border-radius: 5px !important;
    font-size: 14px !important;
}

.footer-inputs input::placeholder {
    color: white;
    font-size: 14px;
}

.footer-inputs button {
    border: 0px !important;
    height: 35px;
    margin-left: 10px;
    padding: 0px 1rem !important;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1EC0CA
}

.footer-sinclair img {
    margin: 0 auto;
}